{% extends "base.twig" %}

{% block content %}
	<section id="content" class="section">
        <div class="container">
            <div class="content__wrapper">
                {% if post.thumbnail %}
                    <img src="{{ post.thumbnail }}" alt="" class="person__thumbnail">
                {% endif %}
                <div class="section__helmet">
                    <h1 class="person__heading">{{ post.title }}</h1>
                    <div class="person__info-wrapper">
                        <p class="person__position">{{ post.meta('position') }}</p>
                        {% if post.meta('email') %}
                            <p class="person__bullet">•</p>
                            <a href="mailto:{{ post.meta('email') }}" class="person__email">{{ post.meta('email') }}</a>
                        {% endif %}
                    </div> 
                </div>
                <article class="prose">
                    {{ post.content }}
                </article>
                <a href="/people" class="person__btn">← Back to Our People</a>
            </div>
        </div>
	</section>

    {% include 'partial/mountains.twig' %}

{% endblock %}