{% extends "base.twig" %}

{% block content %}

{# BEGIN HERO SECTION #}
<section id="hero--page" class="section section--hero">
    <div class="container">
        <div class="hero__wrapper">
            <h1 class="hero__heading--page">{{ post.title }}</h1>
        </div>
    </div>
</section>
{# END HERO SECTION #}

{# BEGIN CONTENT SECTION #}
<section id="content" class="section">
    <img src="{{ theme.path ~ '/static/img/leaf.svg'}}" alt="" class="content__leaf">
    <img src="{{ theme.path ~ '/static/img/moose.svg'}}" alt="" class="content__moose">
    <div class="container">
        <div class="content__wrapper">
            <article id="post-{{ post.ID }}" class="prose--cos post-type-{{ post.post_type }}">
                {{ post.content }}
            </article>
            <div class="membership__wrapper">
                <a href="/membership-application" class="membership__card">
                    <h3 class="membership__heading">Individual Membership</h3>
                    <p class="membership__description">Members are the voting members of the Council. Anyone who shares our vision is eligible to become a Member.</p>
                    <div class="btn btn--primary">Sign up now</div>
                </a>
                <a href="/associate-membership-application" class="membership__card">
                    <h3 class="membership__heading">Associate Membership</h3>
                    <p class="membership__description">This membership option is for organizations wishing to join the National Outdoor Coalition.</p>
                    <div class="btn btn--primary">Sign up now</div>
                </a>
            </div>
        </div>
    </div>
</section>
{# END CONTENT SECTION #}

{% include "partial/mountains.twig" %}

{% endblock %}